Repository timo-nsk/studyhuppy: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy: frontend..., Deploy: modul-service..., Deploy: kartei-service..., Deploy: mail-service..., Deploy: authentication-service..., Deploy: mindmap-service..., Deploy: actuator-service...

Deploy: frontend...:
              steps {
                  dir('frontend') {
                      bat 'npm install'
                      bat 'npm install --save-dev @angular/cli'
                      echo "Building..."
                      bat 'npm run build'
                      echo "Deploying..."
  ...

Deploy: modul-service...:
              steps {
                  dir('backend/track') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: kartei-service...:
              steps {
                  dir('backend/kartei') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: mail-service...:
              steps {
                  dir('backend/mail') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: authentication-service...:
              steps {
                  dir('backend/authentication') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
  ...

Deploy: mindmap-service...:
              steps {
                  dir('backend/mindmap') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: actuator-service...:
              steps {
                  dir('backend/actuator') {
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

update todos.txt
  todos.txt
Due: none

uodate gitignore
  .gitignore
Due: none

uodate todos
  todos.txt
Due: none

Fix bug: During an active learning session, the number of seconds completed in a learning block is not saved in the database after the block is finished.
  frontend/src/app/session-service/session-state-manager.service.ts
  frontend/src/app/session-service/start/start.component.ts
  todos.txt
Due: Deploy: frontend...

Implement functionality to skip a lernblock in the current running session.
  frontend/src/app/session-service/session-state-manager.service.ts
  frontend/src/app/session-service/start/start.component.html
  frontend/src/app/session-service/start/start.component.scss
  frontend/src/app/session-service/start/start.component.ts
Due: Deploy: frontend...

Make session not skipable when session is at its last block.
  frontend/src/app/session-service/session-state-manager.service.ts
  frontend/src/app/session-service/start/start.component.html
  frontend/src/app/session-service/start/start.component.ts
Due: Deploy: frontend...

Update file
  todos.txt
Due: none

Add service SessionLoeschenService and implement method sessionLoeschen. Test method.
  backend/track/src/main/java/com/studyhub/track/application/service/SessionService.java
  backend/track/src/test/java/com/studyhub/track/util/LernplanMother.java
Due: Deploy: modul-service...

Remove deprecated method
  backend/track/src/main/java/com/studyhub/track/application/service/SessionService.java
Due: Deploy: modul-service...

Update endpoint
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
Due: Deploy: modul-service...

Generate bewertung-statistiken for session component and add routing.
  frontend/src/app/app.routes.ts
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.scss
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.spec.ts
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
  frontend/src/app/session-service/overview/overview.component.html
Due: Deploy: frontend...

Update styling and html structure
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.scss
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
Due: Deploy: frontend...

Rename class
  backend/track/src/main/java/com/studyhub/track/application/service/SessionBewertungGeneralStatistikDto.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionBewertungService.java
  backend/track/src/test/java/com/studyhub/track/service/SessionBewertungServiceTest.java
Due: Deploy: modul-service...

Remove class
  backend/track/src/main/java/com/studyhub/track/application/service/SessionBewertungStatistikDto.java
Due: Deploy: modul-service...

Refactor class
  backend/track/src/main/java/com/studyhub/track/adapter/kafka/UserDeletionConsumerImpl.java
Due: Deploy: modul-service...

Implement endpoint /get-general-session-bewertung-statistik
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
Due: Deploy: modul-service...

Implement method fetching /get-general-session-bewertung-statistik
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
  frontend/src/app/session-service/session-api.service.ts
Due: Deploy: frontend...

Fix http method
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
Due: Deploy: modul-service...

Render general statistics on ui
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.scss
Due: Deploy: frontend...

Add field userSessionIds to fetch all the ids of created sessions by a user and implement api call method.
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
  frontend/src/app/session-service/session-api.service.ts
Due: Deploy: frontend...

Implement endpoint /get-user-sessionids
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionService.java
Due: Deploy: modul-service...

Remove methods
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionService.java
Due: Deploy: modul-service...

Update component
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
Due: Deploy: frontend...

Remove unnecessary method and interface
  frontend/src/app/session-service/session-api.service.ts
Due: Deploy: frontend...

Update html select dropdown to have the values of the sessionInfo object
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
Due: Deploy: frontend...

Generate component chart
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.scss
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.spec.ts
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.ts
Due: Deploy: frontend...

add chart component to html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.ts
Due: Deploy: frontend...

Implement component and api call method
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.ts
  frontend/src/app/session-service/session-api.service.ts
Due: Deploy: frontend...

Add field sessionId to SessionBeendetEvent
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionBeendetEventDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionBeendetEventMapper.java
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/request/dto/SessionBeendetEventRequest.java
  backend/track/src/main/java/com/studyhub/track/domain/model/session/SessionBeendetEvent.java
  backend/track/src/test/java/com/studyhub/track/service/SessionBeendetEventRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionEventsServiceTest.java
  backend/track/src/test/java/com/studyhub/track/util/SessionBeendetEventMother.java
  backend/track/src/test/resources/com/studyhub/track/service/init_session_beendet_events_db_data.sql
Due: Deploy: modul-service...

Update gitignore
  .gitignore
Due: none

Add skript
  .gitignore
  backend/track/src/main/resources/db/migration/V13__add_column_session_id_to_session_gelernt_event.sql
Due: Deploy: modul-service...

Add method findAllBySessionId to repository and tested it
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionBeendetEventDao.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionBeendetEventRepositoryImpl.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionBeendetEventRepository.java
  backend/track/src/test/java/com/studyhub/track/service/SessionBeendetEventRepositoryTest.java
Due: Deploy: modul-service...

Implement method getMonthlySessionBewertungStatistik and test it
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/request/dto/SessionBewertungStatistikRequest.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionBewertungService.java
  backend/track/src/main/java/com/studyhub/track/application/service/dto/SessionBewertungAveragesDto.java
  backend/track/src/test/java/com/studyhub/track/service/SessionBewertungServiceTest.java
  backend/track/src/test/java/com/studyhub/track/util/SessionBeendetEventMother.java
Due: Deploy: modul-service...

Implement endpoint /get-session-bewertung-statistik
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
Due: Deploy: modul-service...

Remove annotation
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
Due: Deploy: modul-service...

Implement api call method to fetch the statistics map
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.ts
  frontend/src/app/session-service/session-api.service.ts
Due: Deploy: frontend...

Implement chart to render on ui
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.scss
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.ts
Due: Deploy: frontend...

Add service to delete sessions
  backend/track/src/main/java/com/studyhub/track/domain/service/SessionLoeschenService.java
  backend/track/src/test/java/com/studyhub/track/service/SessionLoeschenServiceTest.java
Due: Deploy: modul-service...

Update styling
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.scss
Due: Deploy: frontend...

Path conditions:
  Deploy: frontend...: any of: frontend/**
  Deploy: modul-service...: any of: backend/track/**
  Deploy: kartei-service...: any of: backend/kartei/**
  Deploy: mail-service...: any of: backend/mail/**
  Deploy: authentication-service...: any of: backend/authentication/**
  Deploy: mindmap-service...: any of: backend/mindmap/**
  Deploy: actuator-service...: any of: backend/actuator/**
