Repository timo-nsk/studyhuppy: changes, and which Jenkins stages are due for each by the changed paths.
All: Deploy: frontend..., Deploy: modul-service..., Deploy: kartei-service..., Deploy: mail-service..., Deploy: authentication-service..., Deploy: mindmap-service..., Deploy: actuator-service...

Deploy: frontend...:
              steps {
                  dir('frontend') {
                      bat 'npm install'
                      bat 'npm install --save-dev @angular/cli'
                      echo "Building..."
                      bat 'npm run build'
                      echo "Deploying..."
  ...

Deploy: modul-service...:
              steps {
                  dir('backend/track') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: kartei-service...:
              steps {
                  dir('backend/kartei') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: mail-service...:
              steps {
                  dir('backend/mail') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: authentication-service...:
              steps {
                  dir('backend/authentication') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
  ...

Deploy: mindmap-service...:
              steps {
                  dir('backend/mindmap') {
                      echo "Testing..."
                      bat 'mvn clean package'
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Deploy: actuator-service...:
              steps {
                  dir('backend/actuator') {
                      echo "Deploying..."
                      bat "docker login --username ${env.DOCKERHUB_CRED_USR} --password ${env.DOCKERHUB_CRED_PSW}"
  ...

Update styling
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.html
  frontend/src/app/session-service/overview/bewertung-statistiken/chart/chart.component.scss
Due: Deploy: frontend...

Update styling
  frontend/src/app/session-service/overview/bewertung-statistiken/bewertung-statistiken.component.html
Due: Deploy: frontend...

Update todos
  todos.txt
Due: none

Add java doc
  backend/track/src/main/java/com/studyhub/track/domain/model/session/Block.java
  backend/track/src/main/java/com/studyhub/track/domain/model/session/Session.java
  backend/track/src/main/java/com/studyhub/track/domain/model/session/SessionBeendetEvent.java
  backend/track/src/main/java/com/studyhub/track/domain/model/session/SessionBewertung.java
  backend/track/src/main/java/com/studyhub/track/domain/service/SessionLoeschenService.java
Due: Deploy: modul-service...

Fix functionality to add seconds to a modul manually
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/ModulApiController.java
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/request/dto/AddSecondsRequest.java
  backend/track/src/main/java/com/studyhub/track/application/service/ModulService.java
  frontend/src/app/modul-service/module/modul-details/modul-details.component.ts
  frontend/src/app/modul-service/module/module-api.service.ts
Due: Deploy: frontend..., Deploy: modul-service...

Fix architecture tests
  backend/track/src/main/java/com/studyhub/track/adapter/db/lernplan/LernplanRepositoryImpl.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionRepositoryImpl.java
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/ModulApiController.java
  backend/track/src/main/java/com/studyhub/track/application/service/LernplanAktivierungsService.java
  backend/track/src/main/java/com/studyhub/track/application/service/LernplanService.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionBewertungService.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionService.java
  backend/track/src/main/java/com/studyhub/track/domain/model/lernplan/LernplanRepository.java
  backend/track/src/main/java/com/studyhub/track/domain/model/session/SessionRepository.java
  backend/track/src/main/java/com/studyhub/track/domain/service/SessionLoeschenService.java
  backend/track/src/test/java/com/studyhub/track/ArchitectureTest.java
  backend/track/src/test/java/com/studyhub/track/service/LernplanAktivierungsServiceTest.java
  backend/track/src/test/java/com/studyhub/track/service/LernplanServiceTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionLoeschenServiceTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionServiceTest.java
Due: Deploy: modul-service...

Add config client dependency
  backend/track/pom.xml
Due: Deploy: modul-service...

Update gitignore
  .gitignore
Due: none

Remove config files from modul service
  backend/track/src/main/resources/application-dev-kafka.yaml
  backend/track/src/main/resources/application-dev.yaml
  backend/track/src/main/resources/application-prod.yaml
Due: Deploy: modul-service...

Add config files from modul service to config server
  backend/config/src/main/resources/configurations/modul-service-dev-kafka.yaml
  backend/config/src/main/resources/configurations/modul-service-dev.yaml
  backend/config/src/main/resources/configurations/modul-service-prod.yaml
Due: none

Add config
  backend/config/src/main/resources/application.properties
  backend/config/src/main/resources/application.yaml
  backend/track/src/main/resources/application.yaml
Due: Deploy: modul-service...

Fix bug where frontend and backend communicated on outdated endpoints
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/ModulApiController.java
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/request/dto/AddSecondsRequest.java
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/request/dto/AddTimeRequest.java
  backend/track/src/test/java/com/studyhub/track/adapter/web/controller/ModulApiControllerTest.java
  frontend/src/app/modul-service/module/modul-details/modul-details.component.ts
  frontend/src/app/modul-service/module/module-api.service.ts
Due: Deploy: frontend..., Deploy: modul-service...

Add H2 dependency
  backend/track/pom.xml
Due: Deploy: modul-service...

Update config
  backend/track/src/test/resources/application-test.yml
Due: Deploy: modul-service...

Update file
  backend/track/src/test/resources/com/studyhub/track/service/init_session_beendet_events_db_data.sql
Due: Deploy: modul-service...

Update annotation value
  backend/track/src/test/java/com/studyhub/track/actuator/HealthControllerTest.java
  backend/track/src/test/java/com/studyhub/track/adapter/web/controller/LernplanApiControllerTest.java
  backend/track/src/test/java/com/studyhub/track/adapter/web/controller/StatisticApiControllerTest.java
Due: Deploy: modul-service...

Update annotation value
  backend/track/src/test/java/com/studyhub/track/adapter/web/controller/ModulApiControllerTest.java
Due: Deploy: modul-service...

Disable tests
  backend/track/src/test/java/com/studyhub/track/service/ModulGelerntEventRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/ModulRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/ModulUpdateServiceTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionBeendetEventRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionServiceTest.java
Due: Deploy: modul-service...

Fix bug where there was no uuid saved for newly added blocks to a Session
  backend/track/src/main/java/com/studyhub/track/adapter/web/controller/api/SessionApiController.java
  backend/track/src/main/java/com/studyhub/track/application/service/SessionService.java
  backend/track/src/main/java/com/studyhub/track/application/service/dto/SessionRequest.java
Due: Deploy: modul-service...

Exchange testcontainers with h2
  backend/track/src/main/java/com/studyhub/track/adapter/db/lernplan/LernplanDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/modul/ModulDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/modul/ModulGelerntEventDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionBeendetEventDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionDto.java
  backend/track/src/test/java/com/studyhub/track/service/ModulGelerntEventRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/ModulRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionBeendetEventRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/service/SessionRepositoryTest.java
  backend/track/src/test/java/com/studyhub/track/util/ModulMother.java
  backend/track/src/test/resources/application-test.yml
  backend/track/src/test/resources/com/studyhub/track/service/init_session_beendet_events_db_data.sql
Due: Deploy: modul-service...

Update Jenkinsfile
  Jenkinsfile
Due: none

Add docker files to config service
  backend/config/Dockerfile
  backend/config/docker-compose.yaml
Due: none

Exchange testcontainers with h2
  backend/authentication/pom.xml
  backend/authentication/src/main/java/com/studyhub/authentication/model/AppUser.java
  backend/authentication/src/test/java/com/studyhub/authentication/service/AppUserRepositoryTest.java
  backend/authentication/src/test/resources/application-test.yml
Due: Deploy: authentication-service...

Add tests
  backend/track/src/test/java/com/studyhub/track/service/SessionServiceTest.java
Due: Deploy: modul-service...

Refactot method
  frontend/src/app/modul-service/module/module.component.ts
Due: Deploy: frontend...

Remove Karma/Jasmin from project
  frontend/package-lock.json
  frontend/package.json
Due: Deploy: frontend...

Remove files
  frontend/src/karma.conf.js
  frontend/src/test.ts
Due: Deploy: frontend...

Include Jest
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/setup-jest.ts
  frontend/tsconfig.spec.json
Due: Deploy: frontend...

Update config
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/setup-jest.ts
Due: Deploy: frontend...

Add data-testid attribute
  frontend/src/app/modul-service/modul-service.component.html
Due: Deploy: frontend...

Add test
  frontend/src/app/modul-service/modul-service.component.spec.ts
Due: Deploy: frontend...

Create module-api.service.spec.ts with first test
  frontend/src/app/modul-service/module/module-api.service.spec.ts
Due: Deploy: frontend...

Add test
  frontend/src/app/modul-service/module/module-api.service.spec.ts
Due: Deploy: frontend...

Change to correct property of object
  frontend/src/app/modul-service/module/module.component.html
Due: Deploy: frontend...

Change string in annotations
  backend/authentication/src/main/java/com/studyhub/authentication/model/AppUser.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/lernplan/LernplanDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/modul/ModulDto.java
  backend/track/src/main/java/com/studyhub/track/adapter/db/session/SessionDto.java
Due: Deploy: modul-service..., Deploy: authentication-service...

Path conditions:
  Deploy: frontend...: any of: frontend/**
  Deploy: modul-service...: any of: backend/track/**
  Deploy: kartei-service...: any of: backend/kartei/**
  Deploy: mail-service...: any of: backend/mail/**
  Deploy: authentication-service...: any of: backend/authentication/**
  Deploy: mindmap-service...: any of: backend/mindmap/**
  Deploy: actuator-service...: any of: backend/actuator/**
